@page "/"

<h1>Workshop</h1>

<h3>Booking</h3>
<ul>
    <li><a href="/create-booking">Create booking</a></li>
</ul>

<h3>Store Schedules</h3>
<ul>
    <li><a href="/store/1">Taunton schedule</a></li>
    <li><a href="/store/2">Yeovil schedule</a></li>
    <li><a href="/store/3">Bristol schedule</a></li>
    <li><a href="/store/4">Bridgwater schedule</a></li>
    <li><a href="/store/5">Weston schedule</a></li>
    <li><a href="/store/6">Hereford schedule</a></li>
</ul>

<h3>Management</h3>
<ul>
    <li><a href="/manage-stores">Manage Stores</a></li>
</ul>
